<link rel="stylesheet" href="/styles/userlogin.css">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >



<section></section>
        <div class="form">
            <h2>Login</h2>
            
            <form action="/user/login" method="post">
                <div class="input">
                    <div class="inputBox">
                        <label for="">Email</label>
                        <input id="email" type="text" name="email">
                    </div>
                    <div class="inputBox">
                        <label for="">Password</label>
                        <input id="password" type="password" name="password">
                    </div>
                    <div class="inputBox">
                        <input type="submit" name="" value="Sign In"> 
                    </div>
                </div>
            </form>
            <p class="forgot">Create New Account? <a href="/user/register">Click Here</a></p>
            
        </div>
    </section>
    <script>

        document.addEventListener('DOMContentLoaded', function(){
        document.querySelector('form').addEventListener('submit', formValidate);
    });

        {{#if message}}
    Swal.fire({
  //icon: "success",
  title: '{{message}}',
  showConfirmButton: false,
  timer: 1500
});
  {{/if}}

function formValidate(event){
        var username = document.getElementById('email').value;
        var password = document.getElementById('password').value;
        

        if(username === '' || password === '' ){
            Swal.fire("All fields are required!");
            event.preventDefault(); // Prevent form submission
            return false;
        } 

        // Validation passed
        return true;
    }

    </script>