<head></head>
  <title>Home page</title>
  <link rel="stylesheet" href="/styles/userHome.css">
</head>

<div class="container">
  
 <p class="message1">Welcome to Home Page</p>
 <div class="calss d-flex justify-content-center">  
    <a href="/user/logout">
   <button type="button" class="btn btn-danger" id="but">Logout</button>
   </a> 
</div>
  </div>